<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="PostSharp" version="4.0.41" targetFramework="net45" />
  <package id="PostSharp.Patterns.Common" version="4.0.41" targetFramework="net45" />
  <package id="PostSharp.Patterns.Model" version="4.0.41" targetFramework="net45" />
  <package id="Syncfusion.SfChart.WPF40" version="13.4.0.63" targetFramework="net45" />
  <package id="Xceed.Products.Wpf.DataGrid.Base" version="5.4.14473.13530" targetFramework="net45" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="2.4.14475.10340" targetFramework="net45" />
  <package id="Xceed.Wpf.AvalonDock" version="2.4.14475.10340" targetFramework="net45" />
  <package id="Xceed.Wpf.Controls" version="5.4.14473.13530" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid" version="5.4.14473.13530" targetFramework="net45" />
</packages>